<h2 class="text-2xl font-bold my-4">Typography</h2>
<section>
  <h3 class="text-xl font-bold">Font Family</h3>
  <p>Por defecto Tailwind tiene solo 3 fuentes tipograficas</p>

  <div class="bg-white p-4 m-4 max-w-xl rounded-lg border border-gray-400">
    <span class="text-xs font-mono font-semibold text-blue-500">font-sans</span>
    <p class="font-sans">Texto tipografico de ejemplo</p>

    <span class="text-xs font-mono font-semibold text-blue-500"
      >font-serif</span
    >
    <p class="font-serif">Texto tipografico de ejemplo</p>

    <span class="text-xs font-mono font-semibold text-blue-500">font-mono</span>
    <p class="font-mono">Texto tipografico de ejemplo</p>
  </div>

  <div>
    <h3 class="text-xl font-bold">Hover, Focus y otros estados...</h3>

    <div class="bg-white p-4 m-4 max-w-xl rounded-lg border border-gray-400">
      <span class="text-xs font-mono font-semibold text-blue-500"
        >hover:font-[sans,serif,mono,...]</span
      >
      <p class="font-sans hover:font-serif hover:text-lg">
        Este texto tiene un Hover
      </p>

      <span class="text-xs font-mono font-semibold text-blue-500"
        >hover:font-[sans,serif,mono,...]</span
      >
      <p class="font-mono font-normal md:font-sans md:font-bold">
        Este texto tiene un Media Query
      </p>
    </div>
  </div>

  <div>
    <h3 class="text-xl font-bold">Customizacion de fuentes</h3>

    <div class="bg-white p-4 m-4 max-w-xl rounded-lg border border-gray-400">
      <pre class="bg-cyan-900 rounded-xl text-slate-200 font-medium"><code>
    module.exports = &#123;
      content: ["./src/**/*.&#123;html,ts&#125;"],
      theme: &#123; extend: &#123;&#125;, 
      fontFamily: &#123; 
      <div class="font-semibold text-red-400">        ...
        headers: ["Oswald", "Arial"], 
        body: ["Helvetica", '"Open sans"', "Arial"],
        ...</div> 
      &#125;, 
      plugins: [],
    &#125;;
      </code></pre>
    </div>
  </div>
</section>
